# Node
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Expo / React Native
.expo/
.expo-shared/
*.expo
*.expo-shared

# Logs
*.log

# Mac / Linux / Windows
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/
env/
.venv/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Build / dist
dist/
build/
